<%= form_for @restaurant do |f| %>




  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  <p>

  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address%>
  <p>

  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city%>
  <p>

  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state%>
  <p>

  <p>
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code%>
  <p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description%>
  <p>

  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category%>
  <p>



  </p>
  <p><%= f.submit %></p>
  <% end %>
